@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.home__wrapper {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  padding: 15px;
}

.home__add_button {
  background-image: linear-gradient(to right, #f8f8ff 0%, #fdf5e6 100%);
  min-width: 250px;
  height: 80px;
  margin: 0 0 0 12px;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.home__add_button:hover {
  background-image: linear-gradient(to right, #f2f2f2 0%, #fdf5e6 100%);
}

.header {
  background-color: #f0f0f0; /* Light gray background */
  padding: 8px;
  color: black;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  min-height: 60px;
  display: flex;
  justify-content: center;
}

.header__title {
  display: inline-block;
  margin: 0;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing text */
  font-weight: 200;
}

.home {
  background-color: #f7f7f7; /* Lighter gray background */
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7; /* Lighter gray background */
}

.buttonMenu {
  display: flex;
  position: relative;
}

.form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f6ee;
  border-radius: 5px;
}

.colorButtons {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0 0 0 10px;
}

.colorButton {
  width: 50px;
  height: 50px;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  box-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  transition: all 0.2s ease;
  margin: 0;
  border: 1px groove black;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

.colorButton:hover,
.colorButton:focus-visible {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  --_p: 0%;
  --_i: 1;
}

.colorButton:active {
  color: var(--c);
  box-shadow: inset 0 0 9000000000Q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}

.addBoardButton {
  background: #e2dfd2;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  font-family: cursive;
  cursor: pointer;
}/*# sourceMappingURL=home.module.css.map */