@import '../../../colors.scss';
.list {
  background-color: $cardBackground;
  min-width: 240px;
  border-radius: 6px;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid darkslategrey;
  gap: 7px;
  display: flex;
  max-height: 85vh;
  flex-direction: column;
}
.wrapper {
  max-height: 90vh;
}
.list__title {
  user-select: none;
  letter-spacing: 1.5px;
  font-size: 15px;
  margin: 5px 0 0 0;
  color: rgb(58, 58, 58);
  pointer-events: none;
}
