@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.board {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 113, 191);
}

.header {
  display: flex;
  width: 100%;
  min-height: 10px;
  -webkit-backdrop-filter: contrast(0.5);
          backdrop-filter: contrast(0.5);
  border: 2px solid black;
  padding: 5px;
}

.header__title {
  margin: 0 auto;
  padding: 3px 0;
  color: white;
  opacity: 0.8;
  font-weight: 200;
}

.header__nav {
  text-align: center;
  margin: auto 10px;
}

.header__exit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.title_input {
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  outline: none;
  margin: 0 auto;
  font-weight: 200;
}
.title_input:focus {
  border: 1px solid black;
  animation: 1s bounce ease;
}

.board_lists {
  display: flex;
  margin: 20px 15px;
  align-items: flex-start;
}

.board_lists__button {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  display: inline-block;
  font-family: monospace, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.board_lists__button:hover {
  filter: invert(1);
}/*# sourceMappingURL=board.module.css.map */